<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task 
    	http://www.springframework.org/schema/task/spring-task-3.0.xsd
    	http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    	
    	 
    	
    	


	<mvc:annotation-driven/>
	 <mvc:resources mapping="/resources/**" location="/resources/"/>
	 <!-- <mvc:resources mapping="/resources/**" location="D:/tmp/"/> -->
	 <context:component-scan base-package="com.book.controller, com.commondboperation.transaction" />

	<aop:aspectj-autoproxy />

	<bean id="dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "org.postgresql.Driver"/>
      <!-- <property name = "url" value = "jdbc:postgresql://LIN41001412:5432/clgst_dev"/> -->
      <property name = "url" value = "jdbc:postgresql://127.0.0.1:5432/clgst_dev"/>
      <!-- <property name = "username" value = "sesp_dev"/> -->
      <property name = "username" value = "postgres"/>
      <!-- <property name = "password" value = "password@2016"/> -->
      <property name = "password" value = "Password1$"/>
   </bean>
   
	
	
	<!--  tiles integration -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	<!-- <property name="prefix">
		<value>WEB-INF/jsp/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property> -->
	<property name="viewClass">
		<value>org.springframework.web.servlet.view.tiles2.TilesView</value>
	</property>
	</bean>
	
	<!-- <bean id="tilesConfigurer"  
        class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">  
        <property name="definitions">  
            <list>  
                <value>/WEB-INF/tiles.xml</value>  
            </list>  
        </property>  
    </bean>  --> 
    
    <bean id="dbUtils" class="com.commondboperation.util.DataUtils">
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>
	<bean id="userDao" class="com.bookstoredb.dao.impl.UsersDaoImpl"></bean>
	<bean id="paperDao" class="com.bookstoredb.dao.impl.PaperDaoImpl"></bean>
	<bean id="eventDao" class="com.bookstoredb.dao.impl.EventDaoImpl"></bean>
	<bean id="userService" class="com.bookstoredb.service.impl.UserServiceImpl"></bean>
	<bean id="paperService" class="com.bookstoredb.service.impl.PaperServiceImpl"></bean>
	<bean id="eventService" class="com.bookstoredb.service.impl.EventServiceImpl"></bean>
	<bean id="searchService" class="com.bookstoredb.service.impl.SearchServiceImpl"></bean>
	
	
	<bean id="sessionFactory"
    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager"
    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	
	<!-- <bean id="aggregateContentEventNameScheduler" class="com.bookstore.intelegence.schedule.AggregateContentEventNameScheduler"></bean>
	<bean id="clusterEventAggDataScheduler" class="com.bookstore.intelegence.schedule.ClusterEventAggDataScheduler"></bean> -->
	
	
	<!-- temporary commented for slowness -->
	
	<!-- <task:scheduled-tasks>
	<task:scheduled ref="aggregateContentEventNameScheduler" method="execute" fixed-delay="50000" />
	<task:scheduled ref="clusterEventAggDataScheduler" method="execute" fixed-delay="10000" />
	</task:scheduled-tasks> -->
	

</beans> 